<div style="width: 500px">
    <p>The following visitor form has been submitted.</p>
    <br>
    <table style='width: 500px; border-spacing: 0; font-family:system-ui, -apple-system, BlinkMacSystemFont,  Segoe UI , Roboto, Oxygen, Ubuntu, Cantarell, Open Sans , Helvetica Neue , sans-serif;'>
            <thead>
                <tr>
                    <th colspan='2' style='text-align: center; font-size: 24px; padding-top: 20px; padding-bottom: 20px; background-color: #86198f; color: white; border-radius: 5px 5px 0px 0px;'>
                        Visitor Form
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style='height: 40px;'>
                    <td style='border-right: solid 1px black; border-left: solid 1px black; width: 30%; border-bottom: 1px solid black; font-size: 16px; padding: 20px 12px;'><strong>Name</strong></td>
                    <td style='border-bottom: 1px solid black; border-right: solid 1px black; font-size: 16px; padding: 20px 12px;'>{{visitor.title}} {{visitor.visitorName.firstName}} {{visitor.visitorName.lastName}}</td>
                </tr>
                <tr style='height: 40px;'>
                    <td style='border-right: solid 1px black; border-left: solid 1px black; width: 30%; border-bottom: 1px solid black; font-size: 16px; padding: 20px 12px;'><strong>Address</strong></td>
                    <td style='border-bottom: 1px solid black; border-right: solid 1px black; font-size: 16px; padding: 20px 12px;'>{{visitor.address}} <br> {{visitor.city}}, {{visitor.state}}</td>
                </tr>
                <tr style='height: 40px;'>
                    <td style='border-right: solid 1px black; border-left: solid 1px black; width: 30%; border-bottom: 1px solid black; font-size: 16px; padding: 20px 12px;'><strong>Phone</strong></td>
                    <td style='border-bottom: 1px solid black; border-right: solid 1px black; font-size: 16px; padding: 20px 12px;'><a href="tel:{{visitor.phone}}" target="_blank" style="text-decoration: none;">{{visitor.phone}}</a></td>
                </tr>
                <tr style='height: 40px;'>
                    <td style='border-right: solid 1px black; border-left: solid 1px black; width: 30%; border-bottom: 1px solid black; font-size: 16px; padding: 20px 12px;'><strong>Email</strong></td>
                    <td style='border-bottom: 1px solid black; border-right: solid 1px black; font-size: 16px; padding: 20px 12px;'><a href="mailto:{{visitor.email}}" target="blank" style="text-decoration: none;">{{visitor.email}}</a></td>
                </tr>
                <tr style='height: 40px;'>
                    <td style='border-right: solid 1px black; border-left: solid 1px black; width: 30%; border-bottom: 1px solid black; font-size: 16px; padding: 20px 12px;'><strong>Preferred Contact</strong></td>
                    <td style='border-bottom: 1px solid black; border-right: solid 1px black; font-size: 16px; padding: 20px 12px;'>{{visitor.contactMethod}}</td>
                </tr>
                <tr style='height: 40px;'>
                    <td style='border-right: solid 1px black; border-left: solid 1px black; width: 30%; border-bottom: 1px solid black; font-size: 16px; padding: 20px 12px;'><strong>Interests</strong></td>
                    <td style='border-bottom: 1px solid black; border-right: solid 1px black; font-size: 16px; padding: 20px 12px;'>{{interests}}</td>
                </tr>
                <tr style='height: 40px;'>
                    <td style='border-right: solid 1px black; border-left: solid 1px black; width: 30%; font-size: 16px; padding: 20px 12px;'><strong>Prayer Requests</strong></td>
                    <td style='border-bottom: 1px solid black; border-right: solid 1px black; font-size: 16px; padding: 20px 12px;'>{{visitor.prayerRequest}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan='2' style='text-align: center; height: 60px; background-color: #86198f; color: white; border-radius: 0px 0px 5px 5px; padding: 0; border-spacing: 0; font-size: 14px;'>This form was submitted on {{date}}</td>
                </tr>
            </tfoot>
        </table>
    </div>